@import "tailwindcss";

body{ @apply bg-blue-50}


@theme{
  --color-light-gray: #F5F5F5;
  --color-Sapphire-Blue: #102C57;
  --color-linen: #F8F0E5;
  --color-sand: #DAC0A3;


  /* --font-jockey: Jolly-Lodger, sana-sarif; */
   
}